@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background: rgba(127, 186, 65, 0.6);
}
